<div>
    <form action='/' method='post'>
        <input id="url-box" type='text' name='url' placeholder='Url'>
        <input id="tag-box" type='text' name='addTag' placeholder='Tag'>
        <input id="add-button" type='submit' value='Add Bookmark'>
    </form>
</div>