<!DOCTYPE html>
<html>
<style>
    body {text-align: center;}
</style>
<body>
    <h1>Add Categories to your Bookmark!</h1>
    <div>
        <form action='/' method='post'>
            <input id='add-category' type='text' name='add-category'>
            <input id="category-button" type='submit' value='Add Category'>
        </form>
    </div>

</body>
</html>