<!DOCTYPE html>
<html>
<style>
    body {text-align: center;}
</style>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Best Bookmark Manager</h1>

    <%- include('partials/add-bookmark') %>
    <%- include('partials/bookmarks') %>

</body>
</html>